@using StudentDetailsInDigitalPlatform.ViewModels;
@model EditRoleViewModel

@{
    ViewBag.Title = "Edit Role Page";
}

<form method="post">
    <div style="width:35rem; margin:0 auto">
        <div class="mt-5">
            <h4> Edit Role</h4>
        </div>
         <div class="row g-3 align-items-center mt-1">
            <div class="col-auto">
                <label asp-for="@Model.Id" class="col-form-label"></label>
            </div>
            </div>
        <div class="row g-3 align-items-center mt-1">
            <div class="col-auto">
                <label asp-for="@Model.RoleName" class="col-form-label"></label>
            </div>
            <div class="col-auto">
                <input type="text" asp-for="@Model.RoleName" class="form-control">
            </div>
            <div>
                <span asp-validation-for="@Model.RoleName" class="text-danger">

                </span>
            </div>
        </div>

    @if(Model.Users.Count > 0)
    {
    <div class="card mt-5" style="width:35rem; margin:0 auto ">
               <div class="card-header">
                   <h4> Manage User in Role</h4>
               </div>
               <div class="card-body">
                  @for (int i = 0; i < Model.Users.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input asp-for="@Model.Users[i].UserId" type="hidden" />
                            <input asp-for="@Model.Users[i].UserName" type="hidden" />

                            <input asp-for="@Model.Users[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model.Users[i].IsSelected">
                             @Model.Users[i].UserName
                            </label>
                        </div>
                    }
               </div>

            
           </div>
        
    }
        <div class="mt-4">
            <button type="submit" asp-action="EditRole" asp-route-id="@Model.Id" asp-controller="Administration" class="btn btn-primary">
                Edit Role
            </button>
        </div>

    </div>


</form>
